Repository i544c-me/buicha-social-misskey, pull requests merged in 2024-06, with the labels that each got.

#8 Feat: Vmimi relay timeline
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1713168415416-VmimiRelayTimeline.js
  packages/backend/src/core/CoreModule.ts
  packages/backend/src/core/FanoutTimelineService.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/RoleService.ts
  packages/backend/src/core/VmimiRelayTimelineService.ts
  packages/backend/src/core/entities/MetaEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/json-schema/meta.ts
  packages/backend/src/models/json-schema/role.ts
  packages/backend/src/server/ServerModule.ts
  packages/backend/src/server/api/EndpointsModule.ts
  packages/backend/src/server/api/endpoints.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/notes/vmimi-relay-hybrid-timeline.ts
  packages/backend/src/server/api/endpoints/notes/vmimi-relay-timeline.ts
  packages/backend/src/server/api/stream/ChannelsService.ts
  packages/backend/src/server/api/stream/channels/vmimi-relay-hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/vmimi-relay-timeline.ts
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/const.ts
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/store.ts
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/deck/tl-column.vue
  packages/misskey-js/etc/misskey-js.api.md
  packages/misskey-js/src/autogen/apiClientJSDoc.ts
  packages/misskey-js/src/autogen/endpoint.ts
  packages/misskey-js/src/autogen/entities.ts
  packages/misskey-js/src/autogen/types.ts
  packages/misskey-js/src/streaming.types.ts
Labels: packages/backend, packages/frontend, packages/misskey-js

#9 chore: vmimiRelayTimelineCacheMaxを設定ファイルに移動
  packages/backend/migration/1713168415416-VmimiRelayTimeline.js
  packages/backend/src/config.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/backend, packages/misskey-js

#10 chore: Update Misskey 2024.5.0-buiso.3
  package.json
  packages/misskey-js/package.json
Labels: packages/misskey-js
